header {
	display: flex;
	flex-wrap: nowrap;
	gap: 16px;
	height: 10vh;
	padding: 8px;
}

.header__title {
	font-weight: 700;
	font-size: 2rem;
	margin: 0;
	margin-right: auto;
	align-self: center;
	white-space: nowrap;
}

.header__icon {
	height: 100%;
}
